.landing-page-container {
  color: $menu-text-color;
  background-color: #455A64;
  padding: 0 20px;
}

.get-started-button {
  background-color: $main-accent-color;
  border: none;
  padding: 10px 20px;
  color: $menu-text-color;
  font-size: 2.4rem;
}