.quote-display {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  justify-content: center;
  min-height: 50%;
  width: 100%;
  margin-top: 10px;
}

.quote-backdrop {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: hsla(0, 0%, 95%, 1);
  display: grid;
  font-size: 1.5em;
  grid-template-columns: 2fr;
  grid-gap: 20px;
  padding: 5%;
}

.quote-body {
  grid-column: 1 / 3;
  font-family: 'Playfair Display', serif; 
}

.quote-author {
  grid-column: 2 / 3;
  font-family: 'Source Sans Pro', sans-serif;
}