.quote-controls-container {
  background-color: $menu-bg-color;
  color: $menu-text-color;
}

.quote-controls-heading {
  font-size: $l-font-size;
  margin: 5px 0;
  text-align: center;
}

.quote-controls {
  display: flex;
  
}

.quote-controls input {
  display: none;
}

#keep-quote-checkbox:checked + label {
  background-color: $dark-accent-color;
}

#keep-fonts-checkbox:checked + label {
  background-color: $dark-accent-color;
}

#keep-background-checkbox:checked + label {
  background-color: $dark-accent-color;
}

.quote-controls__label {
  align-items: center;
  background-color: $main-accent-color;
  display: flex;
  font-size: $m-font-size;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  outline: 1px solid $menu-bg-color;
  flex-grow: 1;
}

@media only screen and (min-width: 800px) {
  .quote-controls__label {
    justify-content: center;
  }

  .quote-controls__label__text {
    margin-left: 5px;
  }
}
