.login-heading {
  font-size: $xl-font-size;
  margin: 10px 0;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form__label {
  display: block;
  font-size: $l-font-size;
  margin-top: 20px;
}

.input-form__submit {
  align-self: flex-end;
  background: $menu-button-color;
  border: none;
  color: $menu-text-color;
  font-size: $l-font-size;
  margin-top: 20px;
  padding: 20px;
}

#username-input,
#password-input {
  font-size: $l-font-size;
  padding: 10px;
}