.menu {
  background: $menu-bg-color;
  height: 100%;
  color: $menu-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.menu__button {
  background-color: $menu-bg-color;
  color: $menu-text-color;
  font-size: $l-font-size;
  outline: 2px solid $menu-text-color;
  position: relative;
  z-index: 1000;
}



@media only screen and (min-width: 600px) {
  .menu {
    padding: 0;
  }
}
