.user-menu {
  background-color: slategrey;
  color: $menu-text-color;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 70px;
  width: 200px;
}

.user-menu__list-item {
  font-size: $l-font-size;
  padding: 30px 20px;
  text-decoration: none;
}

.user-menu__list-item:hover {
  background: $main-accent-color;
}

.user-menu__list-item__link {
  color: $menu-text-color;
  text-decoration: none;
}