.favorites-list-item {
  color: $menu-text-color;
  display: flex;
  justify-content: space-between;
  background-color: $menu-bg-color;
  border-top: 1px solid darkgrey;
  padding: 10px;
  transition: background-color .3s ease-in-out;
}

.favorites-list-item-img {
  width: 100px;
  flex-shrink: 0;
  height: 100px;
}

.favorites-list-item__button {
  background-color: $main-accent-color;
  color: $menu-text-color;
  border: none;
  font-size: 1.6rem;
  margin-left: 5px;
  padding: 10px 20px;
}